@font-face {
    font-family: 'Averta';
    src: url('../fonts/averta/Averta-Bold.eot');
    src: url('../fonts/averta/Averta-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/averta/Averta-Bold.woff2') format('woff2'),
        url('../fonts/averta/Averta-Bold.woff') format('woff'),
        url('../fonts/averta/Averta-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/averta/Averta-Regular.eot');
    src: url('../fonts/averta/Averta-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/averta/Averta-Regular.woff2') format('woff2'),
        url('../fonts/averta/Averta-Regular.woff') format('woff'),
        url('../fonts/averta/Averta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
