.neon-app {
	background-image: url('../images/body-bg.png');
	background-repeat: repeat;
	background-position: top-left;
	color: $default-text;
	overflow-x: hidden;
}

@media( max-width: 736px ) {
	.neon-slider {
		.mobile-grid-layout { padding-right: 0 !important; }
	}
}