header {
	.logo {
		bottom: 4px;
		left: 20%;
		position: relative;
	}

	.balance {
		font-family: $averta;
		font-weight: bold;
		font-size: 30px;
		margin-top: 14px;
	}

	p {
		font-size: 20px;
		position: relative;
	}

	.year {
		display: inline-block;
		font-family: averta;
		font-weight: bold;
		font-size: 16px;
		margin-top: 38px;
		width: 100%;
		&:after {
			background-image: url('../images/divider.png');
			background-repeat: no-repeat;
			content: "";
			display: inline-block;
			height: 8px;
			position: absolute;
			right: 33%;
			top: 63px;
			max-width: 356px;
			width: 100%;
		}
	}

	.welcome {
		display: inline-block;
		font-size: 20px;
		font-family: averta;
		font-weight: bold;
		margin-top: 8px;
		width: 100%;
	}
}